{% load static %}
<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/colors.min.css' %}">
    <link rel="shortcut icon" href="{% static 'blog/images/street.ico' %}">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>ArabiansDevWorld</title>
    {% endif %}
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light   bg-white border-bottom">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img style="width: 30px;" src="{% static 'blog/images/logo.png' %}" alt="شعار المنطقة">
            <span class="site-name font-weight-bold blue">المنطقة 312</span>
        </a>
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ">
                <li class="nav-item active">
                    <a class="nav-link text-dark" href="{% url 'home' %}">الرئسية<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        شوارعنا
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">شارع Python</a>
                        <a class="dropdown-item" href="#">شارع Java</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"> شارع HTML </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{% url 'about' %}">من نحن ؟</a>
                </li>
            </ul>
            {% if user.is_authenticated %}
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item btn-sigin user-btn "><a class="nav-link btn btn-outline-success btn-sm m-1 "
                                                                href="#">تدوينة جديدة</a></li>
                    <li class="nav-item btn-sigin"><a class="nav-link btn btn-outline-success btn-sm m-1 "
                                                      href="{% url 'profile' %}">{{ user.username }} <img class="img-fluid  rounded-circle"
                                                                                                          style="width: 25px; height:  28px" src="{{ user.profile.image.url }}" alt=""> </a></li>
                    <li class="nav-item btn-login user-btn  "><a class="nav-link btn btn-primary btn-sm m-1 "
                                                                 href="{% url 'logout' %}"> تسجيل خروج </a></li>
                </ul>
            {% else %}
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item btn-sigin"><a class="nav-link btn btn-outline-success btn-sm m-1"
                                                      href="{% url 'login' %}"> تسجيل دخول</a></li>
                    <li class="nav-item btn-login"><a class="nav-link btn btn-primary btn-sm m-1 "
                                                      href="{% url 'register' %}"> تسجيل </a></li>
                </ul>
            {% endif %}
        </div>
    </nav>
</header>
<div class="container-fluid ">
    <div class="card cover-img">
        <img src="{{ user_data.user_img.cover_img }}" class="card-img-top" alt="Fissure in Sandstone"/>
    </div>
</div>
<div class="container">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
</div>

<footer class="text-center fixed-bottom">
    <hr>
    <div class="container">
        <p>Made with ❤️by <a href="https://github.com/islam-kamel">Islam Kamel</a></p>
    </div>
</footer>
<script src="{% static 'blog/js/jquery-3.5.1.slim.min.js' %}"></script>
<script src="{% static 'blog/js/popper.min.js' %}"></script>
<script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
<script src="{% static 'blog/js/fontawesome-all.min.js' %}"></script>
</body>
</html>
