{% extends "blog/base.html" %}
{% load post_tag %}
{% block content %}
{% if messages  %}
{% for message in messages %}
<div class="alert alert-{{message.tags}}">
    {{message}}
</div>
{% endfor %}
{% endif %}
{% for post in posts  %}
<div class="border mb-3  p-3 card bg-blue ">
    <img class="img-fluid rounded-circle border m-2" style="width: 70px; height:70px;"
        src="" alt="صورة الناشر">
    <div class="row bg- p-2 pb-0  ">
        <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 text-light ">
            <span>أسم الناشر : {{post.user.name.first_name}} {{ post.user.name.last_name }}</span>
        </div>

        <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 text-xl-left text-lg-left text-md-left text-sm-left text-light">
            <span> تاريخ النشر {{post.published_at|date:'d-m-Y' }}</span>
        </div>
    </div>
    <div class="alert alert-light">
        {{ post.slug|valid_url:post.pk }}
        <h3 class="text-dark font-weight-bolder" id="post"><a href="{%  url 'detail' post.slug|valid_url:post.pk %}">{{post.title}}</a></h3>
        <p>{{post.content|safe|truncatewords:35}}</p>
        <a href="{{ post.slug }}"> <button class="btn badge-primary"> أقراء المزيد</button></a>
    </div>
</div>
{% endfor %}
{% include 'blog/pagination.html' with page=posts %}
<script>
    const post_details_url = 'http://127.0.0.2:8001/'
    const post = document.getElementById('post')
    post.addEventListener("click", (target) => {
        window.location.href = `${post_details_url}/${target.target.getAttribute("href")}`
    })
    fetch('http://api.arabiansdevworld.com')
        .then(res => console.log(res))
</script>
{% endblock content %}
